<html>
  <head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />

    <title>MP3/Radio player</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/framework7/1.4.2/css/framework7.material.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/framework7/1.4.2/css/framework7.material.colors.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/player.css">
  </head>

  <body>
    <div id="app">
      <div class="notifications list-block media-list">
        <ul>
        </ul>
      </div>

      <div class="card">
        <a href="#" class="quit" v-on:click="quit">
          <i class="material-icons color-white close">close</i>
        </a>

        <div class="card-header color-white no-border" v-bind:style="{ 'background-image': 'url(' + cover + ')'} " v-bind:class="{ 'paused': !playing, 'loading': loading, 'cover': lastFmCover }" valign="bottom">
          <div class="chip title color-white">
            <div class="chip-media">
              <a href="#" v-on:click="favorite">
                <i class="material-icons color-white">favorite_border</i>
              </a>
            </div>
            <div class="chip-label">
              {{ current.title }}
            </div>
          </div>
        </div>

        <div class="card-content">
          <div class="card-content-inner">
            <p>
              <span class="progressbar" :data-progress="progress">
                <span></span>
              </span>
            </p>

            <div class="row volume-control">
              <div class="col-40">
                <div class="row">
                  <div class="col-15">
                    <a href="#" v-on:click="muted ? umute() : mute()">
                      <i class="material-icons" v-bind:class="[muted ? 'muted' : 'unmuted']">{{ muted ? 'volume_off' : 'volume_up' }}</i>
                    </a>
                  </div>

                  <div class="col-75">
                    <div class="range-slider">
                      <input type="range" min="0" max="1" step="0.01" v-model="volume">
                    </div>
                  </div>

                  <div class="col-10">

                  </div>
                </div>
              </div>

              <div class="col-60 text-right color-gray">
                <i class="material-icons icon-small">schedule</i>
                {{ position | time }} / {{ duration | time }}
              </div>
            </div>
          </div>
        </div>

        <div class="card-footer">
          <controls :playing="playing"></controls>

          <p class="actions">
            <a href="#" data-popup=".popup-sources" class="open-popup">
              <i class="material-icons icon-medium">playlist_add</i>
            </a>

            <a href="#" data-popup=".popup-playlist" class="open-popup" v-bind:class="{ disabled: !playlist.length }">
              <i class="material-icons icon-medium last">playlist_play</i>
            </a>
          </p>
        </div>
      </div>

      <player :source="current"></player>

      <div class="popup popup-sources">
        <div class="content-block-title">
          Sources
          <a href="#" class="close-popup">
            <i class="material-icons right">close</i>
          </a>
        </div>

        <div class="list-block media-list">
          <ul>
            <li>
              <div class="item-content">
                <div class="item-media">
                  <i class="material-icons icon-medium color-gray">note_add</i>
                </div>
                <div class="item-inner">
                  <div class="item-title-row">
                    <div class="item-title">Play local audio files</div>
                    <a href="#" class="link" v-on:click="open">
                      <i class="material-icons round">add</i>
                    </a>
                  </div>
                  <div class="item-subtitle">
                    <small>Import playlist from hard drive</small>
                  </div>
                </div>
              </div>
            </li>

            <li v-for="(source, index) in sources">
              <div class="item-content">
                <div class="item-media">
                  <i class="material-icons icon-medium">wifi_tethering</i>
                </div>
                <div class="item-inner">
                  <div class="item-title-row">
                    <div class="item-title">Import playlist from '{{ source }}'</div>
                    <a href="#" class="link" v-on:click="load(source, index)">
                      <i class="material-icons round spin" v-if="loadingPlaylist == index">loop</i>
                      <i class="material-icons round" v-else>add</i>
                    </a>
                  </div>
                  <div class="item-subtitle">
                    <small>Online playlist</small>
                  </div>
                </div>
              </div>
            </li>
          </ul>

        </div>
      </div>

      <div class="popup popup-playlist">
        <div class="content-block-title">
          Playlist
          <a href="#" class="close-popup">
            <i class="material-icons right">close</i>
          </a>
        </div>

        <div class="list-block">
          <ul>
            <li class="item-content" v-bind:class="{ active: current == playlist[index]}" v-for="(stream, index) in playlist">
              <div class="item-media">
                <img v-bind:src="stream.image" width="44" v-if="stream.image">
                <img src="https://image.freepik.com/free-icon/audio-wave_318-104765.jpg" width="44" v-else>
              </div>
              <div class="item-inner">
                <div class="item-title">{{ stream.title }}</div>
                <div class="item-after">
                  <a href="#" class="link" v-on:click="current == playlist[index] ? toggle() : play(index)">
                    <i class="material-icons round" v-bind:class="{ active: current == playlist[index]}">
                      {{ current == playlist[index] && playing ? 'pause' : 'play_arrow' }}
                    </i>
                  </a>
                </div>
              </div>
            </li>
          </ul>
          <div class="list-block-label">TODO: Add pagination (http://framework7.io/docs/infinite-scroll.html)</div>
        </div>
      </div>

    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js" onload="window.$ = window.jQuery = module.exports;"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/framework7/1.4.2/js/framework7.min.js"></script>
    <script type="text/javascript" src="player.js"></script>
  </body>
</html>
